@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

.card-groups {
  color: #272635;
  font-family: 'Nunito', sans-serif;
  margin-top: 50px;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;


}

li {
  list-style: none;
}